html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
a {text-decoration: none;color: rgb(243, 200, 82);color: inherit;}
ul ol {list-style: none;}
li {list-style: none;}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

h2 { font-family: Lato; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Lato; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Lato; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }


.TopRow {
    display: flex;
    flex-wrap: row;
    width: 100%;
    overflow: hidden;
    margin-left: -20px;
    margin-top: -10px;
}

.CosmicLogo {
    width: 35.7%;
    height: 20%;
 
}

.Directory {
    color: white;
    position: relative;
    top: 80%;
    right: 20%;
    display: flex;
    margin: 5%;
    font-size: 1.2vw;
    /* margin-right: -5%; */
}
.HomeButton {
    margin: -100%;
}
.AboutButton {
    margin: -50%;
}
.Button {
    font-size: 1.2vw;
    color: white;
    /* margin-right: 15%; */
    /* margin: -50%; */
}

.Directory a:hover{
    transition: .5s;
    color: rgb(255, 216, 184);
}
.RightSideHeaderBeans {
    width: 75%;
    height: 20%;
    margin-right: -50%;
    
}

.CoffeeCupIcon {
    width: 5%;
}



.MainSection {
    width: 100%;
    height: 140%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}


.CoffeeCupContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 5%;
}
.CupWithBeans {
    width: 55%;
    height: 65%;
 
}
.labels {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 20%;
    margin: 2%;
    margin-bottom: -170px;
}




.Block {
    min-width: 50px;
    min-height: 50px;
    background-color: red;
    width: 250px;
    height: 150px;
    position: relative;
    right: 198%;
    margin-top: 24%;
    opacity: 0; 
    margin-right: 5%;
}
.Block2 {
    min-width: 50px;
    min-height: 50px;
    background-color: rgb(0, 255, 213);
    width: 250px;
    height: 150px;
    position: relative;
    right: 92%;
    margin-top: -60%;
    opacity: 0;
    z-index: 3; 
    border-radius: 50%;
}
.Block3 {
    min-width: 50px;
    min-height: 50px;
    background-color: rgb(212, 0, 255);
    width: 250px;
    height: 150px;
    position: relative;
    right: 92%;
    margin-top: -60%;
    opacity: 0;
    z-index: 3; 
    border-radius: 50%;
}



.FooterImage {
    width: 100.6%;
    height: 30%;
    margin-left: -8px;
    margin-bottom: -12px;
    margin-top: -230px;
}


.FB {
    position: relative;
    width: 10%;
    top: 250px;
    left: 200px;

}

.TW {
    width: 10%;
    position: relative;
    top: 110px;
    left: 10px;
}

.IG {
    position: relative;
    width: 10%;
    left: 400px;
    top: -20px;
}




.AboutPhoto {
    width: 100%;
    margin-left: -2%;
}



















@media (max-width: 450px) {
    body {
        color: black;
    }

    .ComsicLogo {
        width: 150%;
        height: 20%;
    }
    .Directory {
        opacity: 1;
        position: relative;
        z-index: 8;
        color: black;
        top: 800px;
        font-size: 2vw;
    }
    .HomeButton {
        opacity: 1;
        position: relative;
        z-index: 5;
        color: black;
        top: 200px;
        right: 200px;
        font-size: 2vw;
    }
    .RightSideHeaderBeans {
        width: 160%;
        height: 150%;
    }
    .TopRow {
        flex-wrap: wrap;
        justify-content: center;
    }
    .FooterImage {
        width: 104%;
        margin-right: -60px;
    }
    .TW {
        margin-top: -2px;
    }
    .FB {
        margin-bottom: 15px;
        bottom: 92px;
    }
    
}



@media (max-width: 900px) {
    body {
        top: 1px;
    }

    .Directory {
        font-size: 3vw;
    }
    .Button {

        font-size: 1.6vw;
   
    }
    .HomeButton {
        margin-left: 20px;
    }
    .AboutButtom {
        margin-left: 40px;
    }
    .TW {
        margin-bottom: 45px;
    }
    .FB {
        margin-bottom: 50px;
        margin-left: -60px;
    }
    .IG {
        margin-bottom: -40px;
        margin-left: -150px;
    }
}



@media (max-width: 490px) {
    body {
        top: 1px;
    }

    .Directory {
        font-size: 3vw;
    }
    .Button {

        font-size: 1.6vw;
   
    }
    .HomeButton {
        margin-left: 20px;
    }
    .AboutButtom {
        margin-left: 40px;
    }
    .TW {
        margin-bottom: 85px;
        
    }
    .FB {
        margin-bottom: 90px;
        margin-left: -120px;
        
    }
    .IG {
        margin-bottom: -20px;
        margin-left: -250px;
        
    }
   
}

@media (max-width: 620px) {
    body {
        color: black;
    }

    .Directory {
        top: 60%;
        transition: 1s;
    }
    
}

@media (max-width: 830px) {
    body {
        color: black;
    }

    .LocGlassTop {
        width: 80%;
        transition: 2s;
    }
    
}